@import './main.Scss';

.about-section{
    grid-column: 2;
    display: grid;
    grid-template-columns: 100px 100px 1000px 100px 100px;
    color: $primary;
    font-weight: 400;
    min-height: 100vh;
}

.about-name{
    margin-top: 120px;
    width: 400px;
    height: 200px;
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    grid-column: 3;
    font-size: 60px;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    .about-name-light{
        font-weight: 500;
        font-size: 80px;
        color: $secondary;
    }
}

.about-desc{
    grid-column: 3;
    color: $secondary;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 100px;
}

.about-check{
    grid-column: 3;
    color: $light;
    font-weight: 500;
    font-size: 90px;
    text-align: center;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

.about-arrow{
    grid-column: 3;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dash-2{
    grid-column: 3;
    width: 400px;
    height: 10px;
}

.dash-vertical{
    width: 10px;
    height: 200px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.dash-3{
    grid-row: 1;
    align-self: flex-end;
    height: 250px;
}

.dash-4{
    grid-row: 1;
    grid-column: 5;
    align-self: center;
    height: 150px;
}

.dash-5{
    grid-row: 4;
    grid-column: 2;
}

.dash-6{
    grid-row: 4;
    grid-column: 4;
    height: 150px;
    margin-top: 20px;
}

.dash-7{
    grid-row:5;
    grid-column:1;
    align-self: flex-end;
    height: 300px;
    margin-bottom: -150px;
}

.dash-8{
    grid-column: 5;
    align-self: flex-end;
    height: 250px;
    margin-bottom: -80px;
}