@import './main.Scss';

.project-wrapper{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
    min-height: 100vh;
    position: relative;
    @media (max-width: $medium) {
        grid-template-columns: 1fr 800px 1fr;        
    }
    @media (max-width: $small) {
        grid-template-columns: 1fr 5fr 1fr;        
    }
    @media (max-width: $smartphone) {
        grid-template-columns: 1fr 10fr 1fr;        
    }
}

.project-section{
    grid-column: 2;
    display: grid;
    margin-top: 120px;
    grid-template-columns: 1fr 5fr 1fr;
    @media (max-width: $smartphone) {
        grid-template-columns: 1fr 10fr 1fr;        
    }
}

a{
    text-decoration: none;
}
.project-gallery{
    grid-column: 2;
    display: grid;
    grid-template-columns: 400px 400px;
    justify-self: center;
    gap: 20px;
    color: $background;
    .project-gallery-item{
        position: relative;
        z-index: 1;
        width: 100%;
        background-color: $secondary;
        display: grid;
        grid-template-rows: 250px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
        color: $background;
        .gallery-item-image{
            height: 80%;
            justify-self: center;
            align-self: center;
        }
        .gallery-item-text{
            font-weight: 500;
            font-size: 50px;
            text-align: center;
            place-self: center;
            @media (max-width: $medium) {
                font-size: 45px; 
            }
            }
        @media (max-width: $medium) {
            grid-template-rows: 180px;     
        }
    }
    @media (max-width: $medium) {
        grid-template-columns: 280px 280px;       
    }  
    @media (max-width: $small) {
        grid-template-columns: 100%;
        .gallery-item-text{
            margin: 25px;
        }       
    }  
}

.project-braces{
    position: relative;
    z-index: 1;
    color: $light;
    font-weight: 300;
    font-size: 120px;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    user-select: none;
    @media (max-width: $small) {
        font-size: 100px;        
    }
}

.project-braces-open{
    grid-column: 1;
    justify-self: flex-end;
    @media (max-width: $medium) {
        justify-self: center;
    }
    @media (max-width: $small) {
        left: -20px;
        top: -15px;
    }   
}

.project-braces-close{
    grid-column: 3;
    grid-row: 2;
    @media (max-width: $medium) {
        justify-self: center;   
    }
    
    @media (max-width: $small) {
        right: -20px;
        bottom:115px;
    }   
}

.project-triangle{
    height: 500px;
    @media (max-width: $medium) {
        height: 400px;
    }   
    @media (max-width: $smartphone) {
        height: 230px;
    }   
}

.project-triangle-left{
    position: absolute;
    left:0;
    bottom: 0;
}

.project-triangle-right{
    position: absolute;
    right: 0;
    bottom: 0;
}
